@using System.Threading
@using PagedList.Mvc;
@inherits UmbracoViewPage<HomeViewModel>
@{
    Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/Controls/_BootstrapSliders.cshtml", Model.HeroImages)
<!-- Page Heading -->
<h1 class="my-4">
    @Model.Home.Title
</h1>

@foreach (var item in Model.Articles)
{
    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <a href="@item.Url">
                <img class="img-responsive" src="@(item.FeaturedImage?.Url)" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>@item.Title</h3>
            @Html.Raw(item.Description)
            <a class="btn btn-primary" href="@item.Url">View Project</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
}

<div>
    @Html.PagedListPager(Model.Articles, page => Model.Home.Url + "?page="+page)
</div>
